<div class="container row" style="margin-left: 50px;">
    <div class="col-md-4">
        <h2>Danh sách các lớp</h2>
        <ul>
            <li class="text-hover-red" (click)="setClassId('')"><h6>Tất cả học sinh</h6></li>
            @for (grade of grades; track grade._id) {
            <li>
                <h6>{{ grade.name }}</h6>
                <ul>
                    @for (class of getClassesByGrade(grade._id); track class._id) {
                        <li (click)="setClassId(class._id)" class="text-hover-red">{{ class.name }}</li>
                    }
                </ul>
            </li>
            }
        </ul>
    </div>
    <div class="col-md-8">
        <button (click)="goToCreateStudent()" class="btn btn-primary">Thêm học sinh</button>
        <h1 class="text-center mb-3">Danh sách học sinh</h1>
        <table class="table-striped table">
            <thead>
                <tr>
                    <th>Họ và tên đệm</th>
                    <th>Tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Lớp</th>
                </tr>
            </thead>
            <tbody>
                @for (student of getStudentsByClass(classId); track student._id) {
                    <tr>
                        <th (click)="goToUpdateStudent(student._id)" class="text-hover-red">{{ student.first_name }}</th>
                        <th>{{ student.last_name }}</th>
                        <th>{{ student.gender==='male'?'Nam':student.gender==='female'?'Nữ':'Khác' }}</th>
                        <th>{{ student.birthday }}</th>
                        <th>{{ student.class.name }}</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>