<app-home>
    <div>
        <h1 class="text-center">Thêm tài khoản</h1>

        @if (error) {
            <p class="text-danger">{{ error }}</p>
        }

        <div class="container row mb-3">
            <div class="col-md-6">
                <label class="mb-3" for="">Tên tài khoản</label>
                <input class="form-control" [(ngModel)]="user.username" type="text" name="" id="">
            </div>
            <div class="col-md-6">
                <label class="mb-3" for="">Vai trò</label>
                <select [(ngModel)]="user.role" name="" id="" class="form-select">
                    <option value="admin">admin</option>
                    <option value="staff">staff</option>
                    <option value="teacher">teacher</option>
                </select>
            </div>
        </div>

        <div class="container row mb-3">
            <div class="col-md-6">
                <label class="mb-3" for="">Mật khẩu</label>
                <input class="form-control" [(ngModel)]="user.password" type="password" name="" id="">
            </div>
            <div class="col-md-6">
                <label class="mb-3" for="">Xác nhận mật khẩu</label>
                <input class="form-control" [(ngModel)]="passwordConfirm" type="password" name="" id="">
            </div>
        </div>


        <button (click)="createUser()" class="btn btn-success">Thêm</button>
    </div>
</app-home>