<app-home>
    <div>
        <h1 class="text-center">Thêm môn học</h1>

        @if (error) {
            <p class="text-danger">{{ error }}</p>
        }

        @if (subject) {
            <div class="mb-3">
                <label class="mb-3" for="">Tên môn học</label>
                <input class="form-control" style="width: 30%;" [(ngModel)]="subject.name" type="text" value="asd">
            </div>
        }

        <button (click)="updateSubject()" class="btn btn-success">Cập nhật</button>
    </div>
</app-home>