<div>
    <h1 class="text-center">Danh sách nhân viên</h1>

    <button (click)="goToCreateStaff()" class="btn btn-primary mb-3">&#43; Thêm</button>

    @if (info) {
        <p class="text-info">{{ info }}</p>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Tên tài khoản</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (staff of staffs; track staff._id) {
                <tr id='{{ staff._id }}'>
                    <th>{{ staff.full_name }}</th>
                    <th>{{ staff.gender==='male'?'Nam':staff.gender==='female'?'Nữ':'Khác' }}</th>
                    <th>{{ staff.address }}</th>
                    <th>{{ staff.phone }}</th>
                    <th>{{ staff.email }}</th>
                    <th>{{ staff.user.username }}</th>
                    <th (click)="goToUpdateStaff(staff._id)" class="text-hover-red">&#9998; Cập nhật</th>
                    <th (click)="deleteStaff(staff._id)" class="text-hover-red">&#10006; Xóa</th>
                </tr>
            }
        </tbody>
    </table>
</div>